<head>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700,500|Merriweather:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js.js"></script>
  <script type="text/javascript" src="/cookies.js"></script>
</head>
