---
layout: index
---
<html>
{% include head.html %}
<body>
  <a href="/" id="menu">Matt Hunzinger</a>
  <div id="loader"></div>
  <div id="cloak" class="cover"></div>
  <div id="content">
    <header>
      <div class="center" id="title">
        <h1>
          <span>/</span>
          Journal
        </h1>
      </div>
      <div id="count" class="wrap">
        <span>05</span>
        <br>Entries
      </div>
      <script type="text/javascript" src="canvas.js"></script>
      <canvas width="600" height="500"></canvas>
    </header>
    <div id="blog" class="wrap">
      {% for post in site.posts %}
      <div class="post">
        <a class="cover" href="{{ post.url }}"></a>
        <div class="date">{{ post.date | date_to_string }}</div>
        <div class="title">{{ post.title }}</div>
      </div>
      {% endfor %}
  </div>
</body>
</html>
